# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.env
*.egg-info/
dist/
build/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.user

# Logs
*.log
logs/

# Models / large binaries
*.glb
*.obj
*.bin
*.ckpt
*.pt
*.pth

# Database
*.db
*.sqlite3

*.zip
Movies-Analytics-in-Spark-and-Scala-master/
*.backup.html
